body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;}
ul, ol {list-style-type: none;}
a {text-decoration: none;}
.page-header {
    padding: 24px 0;
}
.header-nav {
    display: flex;
}
.nav-list,
.contacts-list {
    display: flex;
    gap: 40px;
}
.contacts {
    font-style: normal;
}
.logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
    .header-logo {margin-right: 76px;}
    .header-logo .logo-part {color: #2e2f42;}
                .header-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .header-list {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                }
    .nav-link {
            font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #2e2f42;
        }
        .main-title {background-color: #2e2f42;}
        .first-title {
            font-size: 56px;
            line-height: 1.07143;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;}
            .main-button {
                font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    color: #ffffff;
                    background-color: #4d5ae5;
                    cursor: pointer;}
                .main-button:hover,
                .main-button:focus {
                    background-color: #404bbf;
                }
                                .container {
                                    width: 1158px;
                                    margin: 0 auto;
                                    padding: 0 15px;
                                }
                              .features-list {font-size: 20px;
                                line-height: 1.2;
                                letter-spacing: 0.02em;
                                color: #2e2f42;}
                                                                .our-feaures-title {
                                                                    font-weight: 500;
                                                                    font-size: 20px;
                                                                    line-height: 1.2;
                                                                    letter-spacing: 0.02em;
                                                                    color: #2e2f42;
                                                                }
                                
                                                                .our-features-paragraph {
                                                                    font-size: 16px;
                                                                    line-height: 1.5;
                                                                    letter-spacing: 0.02em;
                                                                }
                .box-team {background: #f4f4fd;
                    padding: 60px 0;}
                .title-team {
                    font-size: 36px;
                    line-height: 1.1;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #2e2f42;}
                                                .name-team {font-weight: 500;
                            font-size: 20px;
                            line-height: 1.2;
                            letter-spacing: 0.02em;
                            text-align: center;
                            color: #2e2f42;}
                            .position-team {font-weight: 400;
                                font-size: 16px;
                                line-height: 1.5;
                                letter-spacing: 0.02em;
                                text-align: center;
                                color: #434455;}
                .contacts {font-style: normal;}
                .contacts-link {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #434455;}
                    .nav-link:hover,
                    .nav-link:focus,        
                    .contacts-link:hover,
                    .contacts-link:focus {color: #404bbf;}
                    .our-portfolio {padding: 60px 0;
                    }
                    .our-portfolio-title {font-weight: 700;
                        font-size: 36px;
                        line-height: 1.11111;
                        letter-spacing: 0.02em;
                        text-align: center;
                        color: #2e2f42;}
                                            .our-portfolio-name {font-weight: 500;
                                                font-size: 20px;
                                                line-height: 1.2;
                                                letter-spacing: 0.02em;
                                                color: #2e2f42;}
                                                .our-portfolio-text {font-size: 16px;
                                                    line-height: 1.5;
                                                    letter-spacing: 0.02em;
                                                    color: #434455;
                                                    text-align: left;}
                                                                                                        .footer-container {
                                                                                                            width: 1158px;
                                                                                                            padding: 0 15px;
                                                                                                            margin: 0 auto;
                                                                                                        }
                    .page-footer {background-color: #2e2f42;}
                    .footer-logo {margin-bottom: 16px;}
                    .footer-logo .logo-part {color:#f4f4fd;}
                    .footer-text {
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: #f4f4fd; }